/* Welcome Heading Row */
.welcome-heading-col {
    padding: 2rem 2rem 3rem 2rem;

}
.welcome-heading {
    font-size: 2rem;
    color: #7D1334;
    text-align: center;
}

/* Card Container */
.card-container {
    display: block;
    margin: 0 auto;
    padding: 2rem 4rem 4rem 4rem;
}

/* Card */
.card-col {
    height: fit-content;
    margin: 20px;
    color: #7D1334;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
}
.card-col:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2);
}

/* Card Content - Upper Part */
.card-content {
    background-color: rgb(251, 251, 251);
    padding: 10px;
}
.card-content__count {
    font-size: 3rem;
    font-weight: 700;
}
.card-content__text {
    font-size: 1.3rem;
}

/* Card Link - Lower Part */
.card-link {
    background-color: rgb(239, 239, 239);
    padding: 10px 22px;
    display: flex;
    align-items: center;
}
.card-link:hover {
    background-color:rgb(234, 234, 234);
    cursor: pointer;
}
.card-link:hover::after {
    display: block;
}
.card-link__text {
    display: contents;
    font-size: 1.1rem;
}
.card-link::after {
    content: ' \00BB';
    color: #7D1334;
    font-weight: 900;
    font-size: 1.1rem;
    margin-left: 10px;
    display: none;
}