/* -------------------- Colors to be used --------------------
PRIMARY COLOR (Dark Maroon): #7D1334
SECONDARY COLOR (Light Maroon): #96415C
TEXT PRIMARY COLOR (White): #FFFFFF
TEXT SECONDARY COLOR (Black): #000000
BACKGROUND COLOR (Light grey): #EFF0F5
ADDITIONAL (Dark Grey): #AAAAAA
*/

/* -------------------- Basic Page Setup -------------------- */

* {
	margin: 0px; 
	padding: 0px; 
	box-sizing: border-box;
  font-family: 'Roboto', sans-serif !important;
  font-weight: 300;

}
body,html{
  overflow: hidden;
  height: 100%;
}

/* ------------------- Login Screen Styling ------------------ */
.login-screen {
  width: 100%;
  margin: 0 auto;
}

/* ------------------ Background Image Styling ---------------- */
.login-form-container {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;

  background: url('../assets/images/login__backgroung.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  z-index: 1;  
}

/* ----------------- Background Overlay Styling ---------------- */
.login-form-container::before {
  content: "";
  opacity: 0.7;
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  background-color: rgba(255, 255, 255, 0.9);
}

/* ---------------- Form Wrapper/Container Styling -------------- */
.login-form-wrap {
  width: 26rem;
  border-radius: 10px;
  overflow: hidden;
  padding: 50px 55px 60px 55px;

  background: -webkit-linear-gradient(top, #800020, #7D1334 );
  background: -o-linear-gradient(top, #800020, #7D1334 );
  background: -moz-linear-gradient(top, #800020, #7D1334 );
  background: linear-gradient(top, #800020, #7D1334 );
}

/* ---------------------- Login Form Styling --------------------- */

/* Form Logo */
.login-form__logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90px;
  height: 90px;
  border-radius: 50%;
  background-color: #fff;
  margin: 0 auto;
}

/* Logo Image */
.login-form__logo img {
  height: 60px;
  width: 70px;
}

/* Form Title */
.login-form__title {
  font-size: 1.8rem;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  display: block;
  letter-spacing: 2px;
}

/* ---------- INPUTS ---------- */

/* Form's All Inputs */
.login-form input {
	outline: none;
	border: none;
}

/* Input Containers */
.login-form__input-container {
  width: 100%;
  position: relative;
  border-bottom: 2px solid rgba(255,255,255,0.24);
  margin-bottom: 30px;
}

/* Form Inputs */
.login-form__input {
  font-size: 14px;
  color: #fff;

  display: block;
  width: 100%;
  height: 45px;
  background: transparent;
  padding: 0 5px 0 38px;
}
.login-form__input:focus {
  padding-left: 5px;
}

/* Input Focus */
.login-form__input-focus {
  display: block;
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}

/* Input Focus Before Pseudo (Line)*/
.login-form__input-focus::before {
  content: " ";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 1.5px; 
  background: #fff;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Input Focus After Pseudo (Icons) */
.login-form__input-focus::after {
  font-family: Material-Design-Iconic-Font;
  font-size: 22px;
  color: #fff;

  content: attr(data-placeholder);
  display: block;
  width: 100%;
  position: absolute;
  top: 6px;
  left: 0px;
  padding-left: 5px;

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}

/* Inputs on Focus Styling  */
.login-form__input:focus + .login-form__input-focus::after {
  top: -22px;
  font-size: 18px;
}
.login-form__input:focus + .login-form__input-focus::before {
  width: 100%;
}
.has-val.login-form__input + .login-form__input-focus::after {
  top: -22px;
  font-size: 18px;
}
.has-val.login-form__input + .login-form__input-focus::before {
  width: 100%;
}
.has-val.login-form__input {
  padding-left: 5px;
}

/* ---------- CHECKBOX ---------- */

/* Remember Me Checkbox Container */
.login-form__checkbox-container {
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 35px;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* Remember Me Checkbox Label Text*/
.login-form__checkbox-label {
  font-size: 13px;
  color: #fff;
  position: relative;
  padding-left: 26px;
  padding-top: 3px;
  cursor: pointer;
}

/* Remember Me Checkbox (Original Box Hidden) */
.login-form__checkbox-input {
  display: none;
}

/* Remember Me Checkbox (Designing our Own Box) */
.login-form__checkbox-label::before {
  content: "\f26b";
  font-family: Material-Design-Iconic-Font;
  font-size: 15px;
  font-weight: 800;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  background: #fff;
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Remember Me Checkbox Styling When Checked */
.login-form__checkbox-input:checked + .login-form__checkbox-label::before {
  color: #7D1334;
}

/* ---------- BUTTON ---------- */

/* Login Button Container */
.login-form__btn-container {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* Login Button */
.login-form__btn {
  font-family: Poppins-Medium;
  font-size: 16px;
  color: #000000;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 50px;
  min-width: 120px;
  height: 45px;
  border-radius: 25px;
  position: relative;
  z-index: 1;
  outline: none !important;
	border: none;
	background: transparent;
  
  background: -webkit-linear-gradient(bottom, #91183e,  #c73c68);
  background: -o-linear-gradient(bottom, #91183e,  #c73c68 );
  background: -moz-linear-gradient(bottom, #91183e,  #c73c68  );
  background: linear-gradient(bottom, #91183e,  #c73c68  );

  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
}
/* Login Button Before */
.login-form__btn::before {
  content: "";
  display: block;
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  border-radius: 25px;
  background-color: #fff;
  top: 0;
  left: 0;
  
  -webkit-transition: all 0.2s;
  -o-transition: all 0.2s;
  -moz-transition: all 0.2s;
  transition: all 0.2s;
}

/* Login Button On Hover */
.login-form__btn:hover {
  color: #fff;
  cursor: pointer;
  border: 1.5px solid #000000;
}

/* Login Button Before On Hover*/
.login-form__btn:hover:before {
  opacity: 0;
}

/* Login Button Link On Hover*/
.login-form__btn-container a:hover {
  text-decoration: none;
}

/* ---------- PLACE HOLDER ---------- */

/* Form placeholder styling */
input:focus::-webkit-input-placeholder { color:transparent; }
input:focus:-moz-placeholder { color:transparent; }
input:focus::-moz-placeholder { color:transparent; }
input:focus:-ms-input-placeholder { color:transparent; }

input::-webkit-input-placeholder { color: #fff;}
input:-moz-placeholder { color: #fff;}
input::-moz-placeholder { color: #fff;}
input:-ms-input-placeholder { color: #fff;}

/* ---------- TEXT ---------- */

/* Form Forget Password Text */
.login-form__forget {
  font-size: 13px;
  color: #b4aaad;
  line-height: 1.5;
  transition: all 0.4s ease;
}
/* Form Forget Password Text On Hover */
.login-form__forget:hover {
  color: #ffffff;
  text-decoration: none;
}

/* ---------------------- Login Form Validation --------------------- */

/* ---------- VALIDATING INPUTS ---------- */
.validate-input {
  position: relative;
}

.alert-validate::before {
  content: attr(data-validate);
  position: absolute;
  max-width: 70%;
  background-color: #fff;
  border: 1px solid #c80000;
  border-radius: 2px;
  padding: 4px 25px 4px 10px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 0px;
  pointer-events: none;

  font-family: Poppins-Regular;
  color: #c80000;
  font-size: 13px;
  line-height: 1.4;
  text-align: left;

  visibility: hidden;
  opacity: 0;

  -webkit-transition: opacity 0.4s;
  -o-transition: opacity 0.4s;
  -moz-transition: opacity 0.4s;
  transition: opacity 0.4s;
}

.alert-validate::after {
  content: "\f12a";
  font-family: FontAwesome;
  font-size: 16px;
  color: #c80000;

  display: block;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5px;
}

.alert-validate:hover:before {
  visibility: visible;
  opacity: 1;
}

/* ---------------------- Login Form Responsiveness --------------------- */

@media (max-width: 576px) {
  .login-form-wrap {
    padding: 55px 15px 37px 15px;
  }
}

@media (max-width: 992px) {
  .alert-validate::before {
    visibility: visible;
    opacity: 1;
  }
}

/* ADD NEW CODE HERE with same format of comments and selectors */