
@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Views/Shared/_DashboardLayout.cshtml";
}

<!DOCTYPE html>
<html>
<head>
    <title>Cards Samples</title>
    <link rel="stylesheet" href="~/Content/css/cards.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container card-container">

        <!-- -------------- Welcome Heading Row -------------- -->
        <div class="row">
            <div class="col-sm welcome-heading-col">
                <h1 class="welcome-heading">Welcome to QRSCS Dashboard</h1>
            </div>
        </div>

        <!-- -------------- Cards Row # 01 -------------- -->
        <div class="row">
            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">150</span>
                    <br>
                    <p class="card-content__text">New orders</p>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">More info</p>
                </div>
            </div>

            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">150</span>
                    <br>
                    <p class="card-content__text">New orders</p>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">More info</p>
                </div>
            </div>

            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">150</span>
                    <br>
                    <p class="card-content__text">New orders</p>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">More info</p>
                </div>
            </div>

            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">150</span>
                    <br>
                    <p class="card-content__text">New orders</p>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">More info</p>
                </div>
            </div>
        </div>

        <!-- -------------- Cards Row # 02 -------------- -->
        <div class="row mt-5">
            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">150</span>
                    <br>
                    <p class="card-content__text">New orders</p>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">More info</p>
                </div>
            </div>

            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">150</span>
                    <br>
                    <p class="card-content__text">New orders</p>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">More info</p>
                </div>
            </div>

            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">150</span>
                    <br>
                    <p class="card-content__text">New orders</p>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">More info</p>
                </div>
            </div>

            <div class="col-sm card-col">
                <div class="row card-content">
                    <span class="card-content__count">150</span>
                    <br>
                    <p class="card-content__text">New orders</p>
                </div>
                <div class="row card-link">
                    <p class="card-link__text">More info</p>
                </div>
            </div>
        </div>

    </div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>