<!DOCTYPE html>
<html lang="en">
<head>

    <!--------------------------- META INFORMATION ------------------------------>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!------------------------- LINKING STYLE SHEETS ---------------------------->
    <!-- Dashboard Style Sheet -->
    <link rel="stylesheet" href="~/Content/css/Dashboard.css">
    <!-- Google Fonts Style Sheet -->
    <link rel="stylesheet" href="~/Content/css/font-roboto.css">

</head>

<body>
    <div class="main-container">
        <!---------------------- Building Header ----------------------->
        <header class="header">

            <!-- Header Hamburger Icon -->
            <div class="header-hamburger">
                <input type="checkbox" id="header-hamburger__checkbox" onchange="openCloseSidebar()">
                <label for="header-hamburger__checkbox" class="header-hamburger__label">
                    <div></div>
                    <div></div>
                    <div></div>
                </label>
            </div>

            <!-- Header Logo -->
            <div class="header-heading">
                <h1 class="header-heading__text"> Lost And Found </h1>
            </div>

            <!-- Header User Profile & Signout -->
            <div class="header-user">
                @*<img src="~/Content/assets/images/dashboard__user.png" alt="User Image" class="header-user__img">*@
                <a href="#"><h2 class="header-user__name">Munzah Shah</h2></a>
                <a href="#"><img src="~/Content/assets/images/dashboard__signout.png" alt="Logo Image" class="header-user__signout"></a>
            </div>
        </header>

        <!-- Building Middle Section (Main Dashboard) -->
        <div class="middle-window">

            <!---------------------- Building The Fixed SideBar ---------------------->
            <div class="middle-window__Sidebar">
                <aside class="sidebar" id="sidebar">
                    <ul>

                        <!-- Home Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="#">
                                <img src="~/Content/assets/images/dashboard__dashboard.png" alt="icon home" class="sidebar-menu__icon">
                                <span>Dashboard</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="#">
                                <img src="~/Content/assets/images/dashboard__add-admin.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>Create Admin</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="@Url.Action("ViewAdmins", "ViewAdmins")">
                                <img src="~/Content/assets/images/dashboard__view-admins.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>View All Admins</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="#">
                                <img src="~/Content/assets/images/dashboard__all-posts.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>All Posts</span>
                            </a>
                        </li>

                        <!-- Create User Link -->
                        <li class="sidebar-menu__box">
                            <a class="sidebar-menu__item" href="#">
                                <img src="~/Content/assets/images/dashboard__all-users.png" alt="icon add user" class="sidebar-menu__icon">
                                <span>All Users</span>
                            </a>
                        </li>

                        <!-- Editor Section Link 
                        <li class="sidebar-menu__box">
                            <img src="~/Content/assets/images/dashboard__editor-section.png" alt="icon add user" class="sidebar-menu__icon">-->
                            <!-- Editor Section Collapsible Sub Menus 
                            <div class="dash__wrap-collabsible">
                                <input id="dash__collapsible1" class="dash__collapsible dash__toggle" type="checkbox">
                                <label for="dash__collapsible1" class="dash__lbl-toggle sidebar-menu__item">Editor Section</label>
                                <div class="dash__collapsible-content">
                                    <div class="dash__content-inner">
                                        <ol type="1" class="sidebar-submenu">
                                            <li><a class="sidebar-submenu__subitem" href="#">Admission Form</a></li>
                                            <li><a class="sidebar-submenu__subitem" href="#">Case History Form</a></li>
                                            <li><a class="sidebar-submenu__subitem" href="@Url.Action("IEP", "Editor")">Individualized E-Plan</a></li>
                                            <li><a class="sidebar-submenu__subitem" href="#">Add Teacher</a></li>
                                            <li><a class="sidebar-submenu__subitem" href="#">Withdraw Student</a></li>
                                        </ol>
                                    </div>
                                </div>
                            </div>
                        </li>-->
                    </ul>
                </aside>
            </div>

            <!---------------------- Building The Center Screen (Dasboard) ---------------------->
            <div class="middle-window__dashboard">
                @RenderBody()
            </div>

        </div>


        <!---------------------- Building The Footer ---------------------->
        <footer class="footer">
            <!-- Footer Text -->
            <div class="footer-text">
                Copyright &copy; Lost And Found | 2022
            </div>
        </footer>

    </div>


    <!--Linking Scripts-->
    <script type="text/javascript" src="~/Content/js/Dashboard.js"></script>
</body>

</html>