/* ------ BASIC PAGE SETTINGS ------- */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

/* ----- FORM SECTION CONTAINER SETTINGS ----- */
.form-section-container {
    padding: 0 3% !important;
    overflow: hidden !important;
}

/* ------ SECTION IEP SETTINGS ------- */

/* Main Heading */
.section-IEP__title h2 {
    font-size: 1.4rem;
    text-align: center;
    color: #7D1334;
    text-transform: uppercase;
    padding: 1.2rem;
}

/* Main Heading Inputs */
.section-IEP__title input[type="text"] {
    color: #7D1334;
    width: 27px;
    outline: none;
    border: none;
    font-size: 1.4rem;
    font-weight: 500;
    margin-left: -5px;
    border-bottom: 2px solid #7D1334;
}

/* -------- GENERAL FORM SETTINGS --------- */


/* Form List Group */
.form .form-list {
    text-decoration: none;
    list-style: none;
    padding: 1.2rem;
}
.form .form-list__item{
    margin-bottom: 25px;
    padding: 0px;
}

/* Form Collapsibles' Settings */
.collapsible {
    display: none;
}
.wrap-collabsible {
    margin: 1.2rem 0;
    width: 85vw;
}
.lbl-toggle {
    font-size: 1.25rem;
    font-weight: 500;
    padding: 5px 25px;
    color: #7D1334;
    cursor: pointer;
    border-left: 5px solid #7D1334;
    background-color: #F1F1F1;

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.25s all;    
}
.lbl-toggle::after { content: ' ';
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 8px solid #7D1334;
    transition: transform .2s ease-out;
}
.toggle:checked + .lbl-toggle::after {
    transform: rotate(180deg) translateY(1px);
    border-top: 8px solid #ffffff;
}
.toggle:checked + .lbl-toggle {
    background-color: #7D1334;
    color: #ffffff;
    margin-bottom: 0;
}
.toggle:checked ~ .collapsible-content {
    border: 1px solid #7D1334;
    animation: form_animate_down 0.25s ease-in-out;
}
.collapsible-content {
    margin-top: 0;
    padding: 0;
    max-height: 0px;
    overflow: hidden;
    transition: max-height .25s ease-in-out;
}
.toggle:checked + .lbl-toggle + .collapsible-content {
    max-height: fit-content;
}
.toggle:checked + .lbl-toggle {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
.collapsible-content .content-inner {
    background-color: #fff;
    padding: .5rem 1rem;
    margin: 0.5rem 0 0 2.2rem;
    width: fit-content;
}

/* Section */
.section {
    padding: 10px 10px 20px 10px;
}

/* All Inputs */
.section input[type="text"] {
    border: none;
    border-bottom: 1px solid #464646;
    color: #464646;
    border-radius: 0;
}

/* Inputs on Focus */
.section input:focus{
    outline: none;
    box-shadow: none !important;
}

/* All Label Elements */
.form .form-list__item .form_container label{
    font-size: 1rem;
    color: #464646;
}

/* Asterik (used for required fields) */
.form .asterik {
    color: rgb(220, 8, 8);
    margin-left: 4px;
}

/* -------- ANIMATIONS USED --------- */

@keyframes form_animate_down{
    0%{
        opacity: 0;
        transform: translateY(-15px);
    }
    100%{
        opacity: 1;
        transform: translateY(0px);
    }
}

/* -------- SPECIFIC FORM SETTINGS --------- */

/* Scetion 1 - General Information */
.section-1 label {
    padding: 10px 0 15px 10px;
}

/* Section 2 - Meeting Information */
.section-2 table tr td {
    padding: 4px 0;
}
.section-2 input[type="checkbox"] {
    width: 14px;
    height: 14px;
    margin-right: 7px;
}

/* Section 3 - Present Level of Performance */
.section-3 table tr td input[type="text"] {
    height: 30px;
    width: 70vw;
    margin-left: 1rem;
    margin-bottom: 1rem;
}

/* Section  4 - Special Instructional Consideration */
.section-4 table {
    height: 300px;
}
.section-4 table ul li {
    list-style: none;
    position: relative;
    padding: 3px 0 2px 25px;
}
/* bullet asterik styling */
.section-4 ul li::before {
    content: '*';
    position: absolute;
    top: -1rem;
    left: 0;
    font-size: 1.6rem;
}

/* Section 5 - Measurable Annual Goals */

/* Subsection Links */
.section-5 ol {
    list-style: none;
    text-decoration: none;
}

/* Inner Collapsibles of section 5 */
.sub-section-section-5 .wrap-collabsible {
    margin: 1.2rem 0;
    width: 78vw;
}

/* Text Div Settings */
.section5-subsection__text input[type="text"] {
    width: 30VW;
}
.section5-subsection__text textarea {
    resize: none;
    border: none;
    
    line-height: 3ch;
    background-image: linear-gradient(transparent, transparent calc(3ch - 1px), #000000 0px);
    background-size: 100% 3ch;
}
.section5-subsection__text textarea:focus {
    outline: none;
}

/* Table Div Settings */
.section5-subsection__table table {
    margin-bottom: 30px;
}
.section5-subsection__table table tr td {
    padding: 5px 7px;
}
.section5-subsection__table table tr th{
    text-align: center;
    font-weight: bold;
}
.section5-subsection__table .col-1 input[type="text"],
.section5-subsection__table .col-2 input[type="text"],
.section5-subsection__table .col-3 input[type="text"],
.section5-subsection__table .col-4 input[type="date"],
.section5-subsection__table .col-5 input[type="date"],
.section5-subsection__table .col-6 input[type="date"] {
    border: none;
    background-color: transparent;
    outline: none;
}
.section5-subsection__table .col-2 input[type="checkbox"],
.section5-subsection__table .col-3 input[type="checkbox"] {
    margin: 8px;
}
.section5-subsection__table .col-2 input[type="text"],
.section5-subsection__table .col-3 input[type="text"] {
    border-bottom: 1px solid #000;
    margin: 5px;
}

/* Section 6 - Supplementary Aids and Related Services &
   Section 8 - IEP Development Team */
.section-6 .col,
.section-8 .col {
    padding: 3px 18px;
}
.section-6 .col input[type="text"],
.section-8 .col input[type="text"] {
}
.section-6 input[type="text"],
.section-8 input[type="text"] {
    border-bottom: 1px solid transparent;
}
.section-6 table th,
.section-8 table th {
    font-weight: 400;
}

/* Section 7 - Recommended Behavioral Intervention */
.section-7 textarea {
    resize: none;
    border: none;
    
    line-height: 2ch;
    background-image: linear-gradient(transparent, transparent calc(4ch - 1px), #8a8a8a 0px);
    background-size: 100% 4ch;
}
.section-7 textarea:focus {
    outline: none;
}