/* Welcome Heading Row */
body {
    overflow-y: scroll;
}

.welcome-heading-col {
    padding: 2rem 2rem 0 2rem;
}
.welcome-heading {
    font-size: 1.4rem;
    color: #1E1F4D;
    text-align: center;
}

/* Card Container */
.card-container {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0 10rem;
}

/* Card */
.card-col {
    height: 12rem;
    width: 14rem;
    margin: 2.5rem 1rem 1rem 1rem ;
    border-radius: 10px;
    color: #1E1F4D;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
    overflow: hidden;
}
.card-col:hover {
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.26);
}

/* Card Content - Overall */
.card-content {
    background-color: rgb(251, 251, 251);
    padding: 10px 0;
    height: 12rem;
}

/* Card Content- Img and Link Wrappers */
.card-img-wrapper {
    height: 82%;
    position: relative;
}
.card-link-wrapper {
    height: 20%;
}

/* Card Content - Image Box */
.card-img {
    background-color: #ffb119;
    height: 80px;
    width: 80px;
    padding: 25px;
    border-radius: 50%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.card-img img {
    height: 100%;
    width: auto;
}

/* Card Content - Link Box */
.card-link {
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    background-color: rgb(239, 239, 239);
    transition: all .2s;
}
.card-link p {
    text-align: center;
    margin: 0 auto;
    display: contents;
    font-size: 1.1rem;
}
.card-link:hover {
    background-color:rgb(234, 234, 234);
    cursor: pointer;
    transition: all .2s;
}
.card-link:hover::after {
    display: block;
}
.card-link::after {
    content: ' \00BB';
    color: #1E1F4D;
    font-weight: 900;
    font-size: 1.1rem;
    display: none;
    margin-left: 10px;
}


.row-2 {

}